<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mr-auto">
        <app-content-contact-page></app-content-contact-page>
      </div>
      <div class="col-md-6" [hidden]="submitted">
        <form class="mb-5" method="post" id="contactForm" name="contactForm" (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <div class="row">  
            <div class="col-md-12 form-group">
              <label for="name" class="col-form-label">Nom</label>
              <input type="text" class="form-control" name="name" id="name" required
                [(ngModel)]="model.name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Nom requis
              </div> 
            </div>
          </div>
          <div class="row">  
            <div class="col-md-12 form-group">
              <label for="firstname" class="col-form-label">Prénom</label>
              <input type="text" class="form-control" name="firstname" id="firstname" required
                [(ngModel)]="model.firstname" #firstname="ngModel">
                <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
                Prénom requis
              </div> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="email" class="col-form-label">E-mail</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="pat@example.com"                required [(ngModel)]="model.email" #email="ngModel">
            </div>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Email requis
          </div> 
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
              <label for="message" class="col-form-label">Message</label>
              <textarea class="form-control" name="message" id="message" required cols="30" rows="7" 
                [(ngModel)]="model.message" #message="ngModel"></textarea>
                <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
                  Message requis
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              <button type="submit" value="Envoyer" class="btn btn-primary rounded-0 py-2 px-4"  [disabled]="!contactForm.form.valid">Envoyer</button>
            </div>
          </div>
        </form>
      </div>
      <div [hidden]="!submitted">
        <h2>test réussi:</h2>
        <button class="btn btn-primary" (click)="submitted=false">retour</button>
      </div>
    </div>
  </div>
</div>
