.header{
    padding: 5px;
    background: linear-gradient( white 92%, #118041);
}

nav{
    display: inline-block;
}

nav a{
    display: inline-block;
    padding: 14px 16px;
}

.img{
    display: inline-block;
}

img{
    height: 100px;
    width: 150px;
}

