<app-dashboard></app-dashboard>
<div class="reservations-section">
    <h3>Mes réservations</h3>
    <mat-divider></mat-divider>
    <mat-tab-group>
        <mat-tab label="Réservations en cours">Aucune réservation en cours
            <mat-card-content>
                <mat-list role="list" class="list-house">
                    <mat-chip-list aria-label="Activités">
                        <mat-chip *ngFor='let booking of bookings_start'>
                            statu: {{booking.status}}
                            personne: {{booking.nbpersons}}
                        </mat-chip>
                    </mat-chip-list>
                </mat-list>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Réservations passées">Aucune réservation passé
            <mat-card-content>
                <mat-list role="list" class="list-house">
                    <mat-chip-list aria-label="Activités">
                        <mat-chip *ngFor='let booking of bookings_end'>
                            statu: {{booking.status}}
                            personne:{{booking.nbpersons}}
                        </mat-chip>
                    </mat-chip-list>
                </mat-list>
            </mat-card-content> 
        </mat-tab>
    </mat-tab-group>
</div>
