<form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName='email'>
	  <mat-error *ngIf="form.get('email')?.invalid">Adresse mail invalide</mat-error>
    </mat-form-field>
	<mat-form-field class="example-full-width" appearance="outline">
		<mat-label>Nom</mat-label>
		<input matInput formControlName='firstName'>
		<!-- Pour le nom des "hasErrors", ils correspondent au noms des fonctions de validation -->
		<mat-error *ngIf="form.get('firstName')?.hasError('required')">Nom Requis</mat-error>
		<mat-error *ngIf="form.get('firstName')?.hasError('minlength')">Le nom doit contenir plus de 2 caractères</mat-error>
		<mat-error *ngIf="form.get('firstName')?.hasError('pattern')">Le nom doit contenir que des lettres</mat-error>
	</mat-form-field>
</form> 