<!---<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Long Last Name That Will Be Truncated</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
  </form> --->



<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="register.component.css">
<!--===============================================================================================-->

<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
                    <img height= "250px" width= "250px" src="/assets/img/Logo2.png/" alt="atypikhouse-logo" style="margin-left: 85px;" >
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>

          <div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="name">
						<span class="focus-input100" data-placeholder="Nom et Prénom"></span>
					</div>

          <div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="Address">
						<span class="focus-input100" data-placeholder="Adresse"></span>
					</div>

          <div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="postalCode">
						<span class="focus-input100" data-placeholder="Code postal"></span>
					</div>

          <div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="City">
						<span class="focus-input100" data-placeholder="Ville"></span>
					</div>

          <div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="Country">
						<span class="focus-input100" data-placeholder="Pays"></span>
					</div>

          <div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="Phonenumber">
						<span class="focus-input100" data-placeholder="Numéro de téléphone"></span>
					</div>

          <div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" data-placeholder="E-mail"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Mot de passe"></span>
					</div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Confirmez votre mot de passe"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								S'inscrire
							</button>
						</div>
					</div><br>
					<div class="text-center p-t-115">
						<span class="txt1">
							Déjà inscrit ?
						</span>

						<a class="txt2" href="#">
							Connectez-vous
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

</body>