<footer class="footer">
    <div class="container">
        <p class="text-copiryght">Copyright @2021 AtypikHouse <br>
            Ce site est un projet étudiant donc fictif
        </p>
        <ul class="foote_bottom_ul_amrc">
            <li><a href="#">Confidentialité</a></li>
            <li><a href="#">Conditions générales</a></li>
            <li><a href="#">Plan du site</a></li>
            <li><a href="#">Fonctionnement du site</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->

        <ul class="social_footer_ul">
            <li><a href="https://www.facebook.com"><img class="fab fa-facebook-f" alt="facebook" src="/assets/img/fb.png"></a></li>
            <li><a href="https://twitter.com"><img class="fab fa-twitter" alt="twitter" src="/assets/img/twitter.png"></a></li>
            <li><a href="https://www.instagram.com"><img class="fab fa-instagram" alt="instagram" src="/assets/img/insta.png"></a></li>
            <img src="" alt="">
        </ul>
        <!--social_footer_ul ends here-->
    </div>
</footer>