<footer class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">À propos</h5>
    <!--headin5_amrc-->
    <p class="mb10">AtypikHouse est une nouvelle SARL composée de 3 associés, elle permet à chacun de vivre des expériences en toute simplicité, la société investit dans la technologie. AtypikHouse propose ainsi à des millions de voyageurs des activités inoubliables et des hébergements incroyables   </p>
    <p><i class="fa fa-location-arrow"></i> 10 Cours Louis Lumière 60350 Pierrefonds </p>
    <p><i class="fa fa-phone"></i>  +01 46 02 30 43  </p>
    <p><i class="fa fa fa-envelope"></i> general@atypikhouse.fr  </p>
    
    
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Hôte</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="http://webenlance.com">Héberger des voyageurs</a></li>
    <li><a href="http://webenlance.com">Accueil responsable</a></li>
    <li><a href="http://webenlance.com">Parrainer des hôtes</a></li>
    <li><a href="http://webenlance.com">Organiser une expérience</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Assistance</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="http://webenlance.com">Nos mesures face au Covid-19</a></li>
    <li><a href="http://webenlance.com">Confiance et sécurité</a></li>
    <li><a href="http://webenlance.com">Options d'annulation</a></li>
    <li><a href="http://webenlance.com">Centre d'aide</a></li>
    <li><a href="http://webenlance.com">Service d'aide aux voisins</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    
    
    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="http://webenlance.com">Confidentialité</a></li>
    <li><a routerLink="/cgu">Conditions générales</a></li>
    <li><a href="http://webenlance.com">Plan du site</a></li>
    <li><a routerLink="/fonctionnement-site">Fonctionnement du site</a></li>
    <li><a href="http://webenlance.com">Contact</a></li>
    </ul>
        <!--foote_bottom_ul_amrc ends here-->

        <ul class="social_footer_ul">
            <li><a routerLink="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a routerLink="#"><i class="fab fa-twitter"></i></a></li>
            <li><a routerLink="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a routerLink="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        <!--social_footer_ul ends here-->
    </div>
</footer>