<footer class="footer">
    <div class="container">
        <p class="text-copiryght">Copyright @2021 AtypikHouse  <a href="#"></a></p>
        <ul class="foote_bottom_ul_amrc">
            <li><a href="http://webenlance.com">Confidentialité</a></li>
            <li><a href="/cgu">Conditions générales</a></li>
            <li><a href="http://webenlance.com">Plan du site</a></li>
            <li><a href="/fonctionnement-site">Fonctionnement du site</a></li>
            <li><a href="http://webenlance.com">Contact</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->

        <ul class="social_footer_ul">
            <li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
            <li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>
</footer>