.dashboard{
    color: white;
    width: 20%;
    height: 100%;
    background-color: #118041;
    float: left;
    display: flexbox;
}

a{
    color: white ;
}

a:active{
    background-color: white;
}

h4{
    margin: 0% 0% 0% 5%;
}