/*****HEADER*****/
.header{
    padding: 10px;
    background: linear-gradient( white 92%, #118041);
}

/*****LOGO IMG*****/
.img{
    display: inline-block;
}

/*****NAV*****/
.nav{
    padding-bottom: 2em;
    display: inline-block;
}