<mat-card class="container-card">
	<mat-card-header class="header-card">
	  <mat-card-title>{{house.title}}</mat-card-title>
	</mat-card-header>
	<br>
	<mat-card-content class="content-house">
		<div>
			<img mat-card-image clas="img-house" src="{{house.listidPics}}" alt="" width="100" height="100">
		</div>
			<p class="paragraph-house">
				Description: 
				{{house.description}} 
				Addresse: 
				{{house.address}} 
				Code postale: 
				{{house.zipecode}}
				Ville:
				{{house.city}}
				Nombre de lit:
				{{house.nbbeds}}
				Prix:
				{{house.price}}
				Activité:
				{{house.listeActivities}}
			</p>
	</mat-card-content>
  </mat-card>