<section>
	<mat-grid-list cols="3" rowHeight="2:1">
		<mat-grid-tile>
			<img mat-card-image class="img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
			<mat-grid-content *ngFor='let houses of house'>
				<p>{{houses.title}}</p>
			</mat-grid-content>
		</mat-grid-tile>
		<mat-grid-tile>
			<img mat-card-image class="img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
			<mat-grid-content>
				<p>test</p>
			</mat-grid-content>
		</mat-grid-tile>
		<mat-grid-tile>
			<img mat-card-image class="img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
			<mat-grid-content>
				<p>test</p>
			</mat-grid-content>
		</mat-grid-tile>
		<mat-grid-tile>
			<img mat-card-image class="img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
			<mat-grid-content>
				<p>test</p>
			</mat-grid-content>
		</mat-grid-tile>
		<mat-grid-tile>
			<img mat-card-image class="img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
			<mat-grid-content>
				<p>test</p>
			</mat-grid-content>
		</mat-grid-tile>
		
	</mat-grid-list>
</section>
