.contactez-nous{
    color: #A1D72E;
    margin-left: 7%;

}

.telephone{
    float:left;
    display:inline-block;
    padding: 5px;
    text-align: center;
}

.email{
    margin-top: 5px;
    text-align: center;
}