<div class="cart">
    <mat-card>
        <div class="house-img">
            <img class="login-form-img" src="/assets/img/cabane-ext.jpg" alt="Logo atypikhouse" height= "500px" width= "500px">
        </div>
        <div class="house-description">
            <h2>Cabane xxx</h2>
            <p>What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?</p>
            <h6>TagFoot</h6>
        </div>
        <form [formGroup]="form">

            <mat-form-field appearance="outline">
                <mat-label>Dates de voyage</mat-label>
                <mat-date-range-input [rangePicker]="rangePicker">
                <input matStartDate formControlName='dateFrom' placeholder="Date arrivée">
                <input matEndDate formControlName='dateTo' placeholder="Date Départ">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                    <button mat-button matDateRangePickerCancel>Annuler</button>
                    <button mat-raised-button color="primary" matDateRangePickerApply>Confirmer</button>
                </mat-date-range-picker-actions>
                </mat-date-range-picker>
                <mat-error *ngIf="form.get('dateFrom')?.hasError('required')">La date d'arrivée est nécessaire</mat-error>
                <mat-error *ngIf="form.get('dateTo')?.hasError('required')">La date de départ est nécessaire</mat-error>
            </mat-form-field>

            <mat-form-field class="person-field" appearance="outline">
                <mat-label>Adultes</mat-label>
                <input matInput type="number" formControlName='nbPerson'>
                <mat-error *ngIf="form.get('nbPerson')?.hasError('required')">Le nombre d'adultes est requis</mat-error>
                <mat-error *ngIf="form.get('nbPerson')?.hasError('min')">Il faut au moins un adulte</mat-error>
            </mat-form-field>
            <mat-form-field class="person-field" appearance="outline">
                <mat-label>Enfants</mat-label>
                <input matInput type="number" formControlName='nbChildren'>
            </mat-form-field>

            <button mat-raised-button type="button">Vérifier les disponibilités</button>
            
        </form>
    </mat-card>
</div>