.container-form{
    text-align: center;
}

.name, .firstname, .email, .message{
    font-family: sans-serif;
}

.button{
    background-color:#118041;
    color: white;
    border-radius: 10px;
    font-family: sans-serif;

}