<div class="container-form">
    <h3>Login</h3>
    <form action="post" class="form">
        <mat-form-field appearance="fill">
            <label for="name" class="name">Username:</label>
            <input matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <label for="password" class="password">Password:</label>
            <input type="password" matInput>
        </mat-form-field><br>
        <button mat-button class="button">ENVOYER</button>
    </form>
</div>
