<form class="login-form" [formGroup]="form">
	<img class="login-form-img" src="/assets/img/Logo2.png" alt="Logo atypikhouse" height= "200px" width= "200px">
	<mat-form-field class="example-full-width" appearance="outline">
	  <mat-label>E-mail</mat-label>
	  <input matInput formControlName='email'>
	  <mat-error *ngIf="form.get('email')?.invalid">Adresse mail invalide</mat-error>
	</mat-form-field>
	<mat-form-field class="example-full-width" appearance="outline">
		<mat-label>Mot de passe</mat-label>
		<input type="password" matInput formControlName='password'>
		<mat-error *ngIf="form.get('password')?.hasError('required')">Mot de passe Requis</mat-error>
		<mat-error *ngIf="form.get('password')?.hasError('minlength')">Le mot de passe doit contenir au moins 8 caractères</mat-error>
	</mat-form-field>
	<div class="button-row">
		<button class="login-button">Se connecter</button>
	</div>
	<div class="text">
		<p>Pas encore inscrit ? <a routerLink="/register">Inscrivez-vous</a></p>
	</div>
</form>
