<app-dashboard></app-dashboard>
<h3>Mes informations personnelles</h3>
<mat-divider></mat-divider>
<form>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="">
      </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Adresse</mat-label>
        <input matInput placeholder="">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ville</mat-label>
        <input matInput placeholder="">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Code postal</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Téléphone</mat-label>
        <input matInput placeholder="">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirmer mot de passe</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    <button mat-raised-button type="button">Modifier</button>
</form>