<div class="container-tableau-de-bord">
    <ul class="list">
        <li class="list-item" tabindex="0">
            <span class="list-item-tb">Tableau de bord</span>
        </li>
        <li class="list-item" id="item-compte">
          <a href="#" class="lien-mon-compte">Mon compte</a>
        </li>
        <li class="list-item" id="item-reservation">
          <a href="#" class="lien-mes-reservation">Mes réservations</a>
        </li>
        <li class="list-item" id="item-hote">
          <a href="#" class="lien-devenir-hote">Devenir hôte</a>
        </li>
      </ul>
</div>