<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="booking-bg">
                        <img height= "300px" width= "300px" src="/assets/img/Logo2.png/" alt="atypikhouse-logo" style="margin-top: 100px;">
                    </div>
                    <form>
                        <div class="form-header">
                            <h2>Réservez-maintenant</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Date d'arrivée</span>
                                    <input class="form-control" type="date" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Date de départ</span>
                                    <input class="form-control" type="date" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Adultes</span>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Enfants</span>
                                    <select class="form-control">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="form-label">Adresse de destionation</span>
                            <input class="form-control" type="adress" placeholder="Ville, Pays...">
                        </div>
                        <div class="form-btn">
                            <button mat-raised-button type="button" class="submit-btn">Voir les disponibilités </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>