.form-search{
    text-align: center;
}
.location, .date, .number{
    width: 30%;
    height: 50px;
}

.date{
    height: 46px;
}

.button-search{
    background-color:#118041;
    color: white;
    border-radius: 10px;
    font-family: sans-serif; 
    width: 250px;  
}