<div class="container-search">
    <form action="" class="form-search">
        <select name="number" class="location">
            <option value="">Ou ?</option>
        </select>
        <input type="date" name="date" value="" class="date">
        <select name="number" class="number">
            <option value="">1 personnes</option>
            <option value="2">2 personnes</option>
            <option value="3">3 personnes</option>
            <option value="4">4 personnes</option>
            <option value="5">5 personnes</option>
            <option value="6">6 personnes</option>
            <option value="7">7 personnes</option>
        </select>
        <br>
        <br>
        <button mat-button class="button-search">RECHERCHER</button>       
    </form>
</div>